{% extends "dashboardlayout.html" %}
{% block content %}
<div class="row">

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shadow" style="width: 16rem;">
            <div class="card-body" style="position: relative;">
                <div style="position: absolute; right: 20px;">
                    <p style="font-size:60px;color: red;">0</p>
                  </div>
                <i class="fa fa-users" aria-hidden="true" style="color: #a8a8a85e;font-size: 5em;"></i>
              <p class="card-title">Total Attendees</p>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shadow" style="width: 16rem;">
            <div class="card-body" style="position: relative;">
                <div style="position: absolute; right: 20px;">
                    <p style="font-size:60px;color: red;">0</p>
                  </div>
                <i class="fa fa-users" aria-hidden="true" style="color: #a8a8a85e;font-size: 5em;"></i>
              <p class="card-title">Active Attendees</p>

            </div>
        </div>
    </div>
  </div>

  <h4 style="margin-top: 20px;">Active Event Attendees</h4>
  <div class="row">
    <div class="col-lg-10 shadow table-div" style="background: white;">
      <table class="table">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Attendees</th>
          </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ url_for('eventdashboard', event_id=event.id) }} " class="table-link tl-title">{{ event.title }}</a></td>
                    <td>0</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}