{% extends "layout.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        $('body').addClass('zero-min-height');
        $('.footer').css({"width":"100%","position":"absolute","bottom":"0"})
    });
</script>

<div class="container">
    <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
        {% if not events %}
            <div class="container">
                <div class="row">
                    <div class="offset-lg-4 col-lg-4 ">
                        <div style="padding: 30px;border: 1px solid #cacaca;background-color: white;border-radius: 10px;">
                            <div style="text-align: center;">
                                <h3>OOPS! Cart is empty!</h3>
                            </div>
                            <div style="text-align: center;margin-top:25px;">
                                Looks like You have no Item in your cart.
                            </div>
                            <div style="text-align: center;margin-top:25px;">
                                <a href="{{ url_for('home') }}" class="btn btn-outline-danger">Return to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-8">
                    <div class="row" style="padding: 20px;padding-bottom: 5px;">
                        <div class="col-6" style="text-align: center;">Item</div>
                        <div class="col-2">Price</div>
                        <div class="col-2">Quantity</div>
                        <div class="col-2">Total</div>
                    </div>
                    <hr>

                    {% for event in events %}
                    <div style="display:none;" id="loop-length">
                        {{loop.length}}
                    </div>
                        <div style="display: none;">
                            {% if event.offers_bool == true %}
                                {% if event.attendee1 and event.discount1 %}
                                    <div class="event-discount-1  event.discount" data-rep="1">
                                        <span class="event-attendee event-{{ event.id }}-attendee-1" data-rep="1">{{ event.attendee1 }}</span>
                                        <span class="event-{{ event.id }}-disamount-1 event-disamount" data-rep="1">{{ event.discount1 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee2 and event.discount2 %}
                                    <div class="event-discount-2  event.discount" data-rep="2">
                                        <span class="event-attendee event-{{ event.id }}-attendee-2" data-rep="2">{{ event.attendee2 }}</span>
                                        <span class="event-{{ event.id }}-disamount-2 event-disamount" data-rep="2">{{ event.discount2 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee3 and event.discount3 %}
                                    <div class="event-discount-3  event.discount" data-rep="3">
                                        <span class="event-attendee event-{{ event.id }}-attendee-3" data-rep="3">{{ event.attendee3 }}</span>
                                        <span class="event-{{ event.id }}-disamount-3 event-disamount" data-rep="3">{{ event.discount3 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee4 and event.discount4 %}
                                    <div class="event-discount-4  event.discount" data-rep="4">
                                        <span class="event-attendee event-{{ event.id }}-attendee-4" data-rep="4">{{ event.attendee4 }}</span>
                                        <span class="event-{{ event.id }}-disamount-4 event-disamount" data-rep="4">{{ event.discount4 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee5 and event.discount5 %}
                                    <div class="event-discount-5  event.discount" data-rep="5">
                                        <span class="event-attendee event-{{ event.id }}-attendee-5" data-rep="5">{{ event.attendee5 }}</span>
                                        <span class="event-{{ event.id }}-disamount-5 event-disamount" data-rep="5">{{ event.discount5 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee6 and event.discount6 %}
                                    <div class="event-discount-6  event.discount" data-rep="6">
                                        <span class="event-attendee event-{{ event.id }}-attendee-6" data-rep="6">{{ event.attendee6 }}</span>
                                        <span class="event-{{ event.id }}-disamount-6 event-disamount" data-rep="6">{{ event.discount6 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee7 and event.discount7 %}
                                    <div class="event-discount-7  event.discount" data-rep="7">
                                        <span class="event-attendee event-{{ event.id }}-attendee-7" data-rep="7">{{ event.attendee7 }}</span>
                                        <span class="event-{{ event.id }}-disamount-7 event-disamount" data-rep="7">{{ event.discount7 }}</span>
                                    </div>
                                {% endif %}
                                {% if event.attendee8 and event.discount8 %}
                                    <div class="event-discount-8  event.discount" data-rep="8">
                                        <span class="event-attendee event-{{ event.id }}-attendee-8" data-rep="8">{{ event.attendee8 }}</span>
                                        <span class="event-{{ event.id }}-disamount-8 event-disamount" data-rep="8">{{ event.discount8 }}</span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div data-rep="{{ event.id }}" class="row shadow row-{{ event.id }} row-{{ loop.index0 }}" style="padding: 20px;border: 1px solid #cacaca;border-radius: 10px;margin-bottom: 20px;background: white;">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{ url_for('static', filename='event_pics/' + event.image1) }}" style="width: 150px;height: 100px;border-radius: 5px;">
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <p>{{ event.title }}</p>
                                            </div>
                                            <div class="col-12">
                                                <p>{{ event.location }}</p>
                                            </div>
                                            <div class="col-12">
                                                <p>{{ event.date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">$<span class="event-price event-price-{{ event.id }}">{{ event.price }}</span>/each</div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <i data-rep="{{ event.id }}" id="icon-minus-{{event.id}}" class="fa fa-minus-circle minus-circle" aria-hidden="true" style="font-size: 20px;"></i>
                                            {% set user_cart = current_user.user_cart %}
                                            {% set event_cart = event.event_cart %}
                                            {% for itemu in user_cart %}
                                                {% for iteme in event_cart %}
                                                    {% if iteme.id == itemu.id %}
                                                        <span data-rep="{{ event.id }}" id="event-{{event.id}}-qnt" class="eqnt">{{ iteme.quantity }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <i data-rep="{{ event.id }}" id="icon-plus-{{ event.id }}" class="fa fa-plus-circle plus-circle" aria-hidden="true" style="font-size: 20px;"></i>
                                        </p>
                                    </div>
                                    <div class="col-12" style="margin-top: 30px;">
                                        {% if event.offers_bool == true %}
                                            <p>Discount Available!</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-12">
                                        <p>$<span data-rep="{{ event.id }}" class="event-total-price event-total-price-{{ event.id }}">{{event.price}}</span></p>
                                    </div>
                                    <div class="col-12" style="margin-top: 50px;">
                                        <p><span class="event-remove-cart" data-rep="{{ event.id }}">Remove</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-4">
                    <div class="shadow" style="padding: 10px;padding-left: 20px;margin-left: 5px;border: 1px solid #cacaca;border-radius: 10px;background: white;">
                        <div style="text-align: center;">
                            <h3>Total</h3>
                        </div>
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Item - Quantity</p>
                                    </div>
                                    <div class="col-6" style="text-align: center;">
                                        <p>Price</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="row">
                                    {% for event in events %}
                                        <div class="col-6">
                                            <p>
                                                <span>{{ event.title }}</span> -
                                                {% set user_cart = current_user.user_cart %}
                                                {% set event_cart = event.event_cart %}
                                                {% for itemu in user_cart %}
                                                    {% for iteme in event_cart %}
                                                        {% if iteme.id == itemu.id %}
                                                            <span id="event-{{event.id}}-qnt-total" class="final-quantity">{{ iteme.quantity }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div class="col-6"  style="text-align: center;">
                                            <p>$<span data-rep="{{ event.id }}" class="event-total-price subtotal-{{ event.id }} event-total-price-{{ event.id }}">{{ event.price }}</span></p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <div>Grand Total: $<span class="g-total">00</span></div>
                                </div>
                            </div>
                            <div style="text-align:center;margin-top: 20px;">
                                <form action="{{ url_for('create_checkout_session') }}" method="POST">
                                  <button type="submit" class="btn btn-danger">Proceed to Checkout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}