{% extends "dashboardlayout.html" %}
{% block content %}
    <h4 style="margin-top: 20px;">All Events</h4>
    <div class="row">
        <div class="col-lg-10 shadow table-div" style="background: white !important;">
          <table class="table">
            <thead>
              <tr>
                <th>Event Name</th>
                <th>Created</th>
                <th>Booked</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><a href="{{ url_for('eventdashboard', event_id=event.id) }} " class="table-link tl-title">{{ event.title }}</a></td>
                    <td>{{ event.date_posted.strftime('%Y-%m-%d') }}</td>
                    <td>0%</td>
                    <td>Active</td>
                    <td><a href="" class="table-link tl-prioritize">Prioritize !</a></td>
                    <td><a href="{{ url_for('update_event', event_id=event.id) }}" class="table-link tl-repost">Repost <i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                    <td><a href="{{ url_for('update_event', event_id=event.id) }}" class="table-link tl-edit">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a href="{{ url_for('delete_event', event_id=event.id) }}" class="table-link tl-delete">Delete <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock content %}